<div class="container" style="padding-top: 20px;padding-bottom: 20px;">
    <h1>添加成员</h1>
    <br>
    <form method="post" action="" id="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.new_teammate }}
            <input class="btn btn-light" style="margin-top: 20px" type="button" onclick="submit_add_teammate_form({{ team_id }})" value="添加"/>
        </div>
    </form>
</div>
<script>
    const submit_add_teammate_form = function (team_id) {
        jQuery.post(Flask.url_for("team.add_teammate", {"team_id": team_id}), jQuery('#form').serialize(), function (data) {
            if (data === 'true') {
                layer.msg('添加成功', {icon: 1});
                layer.closeAll('page');
                parent.jQuery('#manage_iframe').attr('src', parent.jQuery('#manage_iframe').attr('src'));
            } else {
                layer.msg('添加失败', {icon: 5});
            }
        })
    }
</script>
