{% extends 'iframe_base.html' %}

{% block content %}
<div class="container" style="padding-top: 20px;padding-bottom: 20px;">
        <h1>修改缺陷</h1>
        <br>
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <div class="input-group mb-3" style="width: 30%;">
                <div class="input-group-prepend">
                    <span class="input-group-text justify-content-center" style="width: 74px;">需求</span>
                </div>
                {{ form.bug_name(class="form-control") }}
            </div>
            <div class="input-group mb-3" style="width: 50%;height: 200px;">
                <div class="input-group-prepend">
                    <span class="input-group-text justify-content-center" style="width: 74px;">详情</span>
                </div>
                {{ form.desc(class="form-control") }}
            </div>
            <div class="input-group mb-3" style="width: 30%;">
                <div class="input-group-prepend">
                    <span class="input-group-text justify-content-center" style="width: 74px;">优先级</span>
                </div>
                {{ form.priority(class="form-control") }}
            </div>
            <div class="input-group mb-3" style="width: 30%;">
                <div class="input-group-prepend">
                    <span class="input-group-text justify-content-center" style="width: 74px;">状态</span>
                </div>
                {{ form.status(class="form-control") }}
            </div>
            <div class="input-group mb-3" style="width: 30%;">
                <div class="input-group-prepend">
                    <span class="input-group-text justify-content-center" style="width: 74px;">执行人</span>
                </div>
                {{ form.executor(class="form-control") }}
            </div>

            <input class="btn btn-light" type="submit" value="保存">
        </form>
    </div>

{% endblock %}