{% extends 'iframe_base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tempusdominus-bootstrap-4.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
{% endblock %}

{% block content %}
    <h1>{{ '创建项目' if is_create else '修改项目'}}</h1>
    <br>
    <form method="post" action="{{ url_for('team.create_project') if is_create else url_for('team.change_project', project_id=project_id) }}">
        {{ form.hidden_tag() }}
        <div class="input-group mb-3" style="width: 30%;">
            <div class="input-group-prepend">
                <span class="input-group-text justify-content-center" style="width: 74px;">项目名称</span>
            </div>
            {{ form.project_name(class="form-control") }}
        </div>
        <div class="input-group mb-3" style="width: 50%;height: 200px;">
            <div class="input-group-prepend">
                <span class="input-group-text justify-content-center" style="width: 74px;">项目详情</span>
            </div>
            {{ form.desc(class="form-control") }}
        </div>

        <div class="input-group mb-3 date" id="end_time_datetimepicker" data-target-input="nearest" style="width: 30%;">
            <div class="input-group-prepend">
                <span class="input-group-text justify-content-center" style="width: 74px;">结束时间</span>
            </div>
            {{ form.end_time(class="form-control datetimepicker-input") }}
            <div class="input-group-append" data-target="#end_time_datetimepicker" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
        <input class="btn btn-light" type="submit" value="{{ '创建' if is_create else '修改'}}">
    </form>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tempusdominus-bootstrap-4.js') }}" ></script>
    <script>
        $(document).ready($(function () {
            $('#end_time_datetimepicker').datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
                todayHighlight: true,
                icons:{
                    time: 'fa fa-clock',
                    date: 'fa fa-calendar-alt',
                },
            });
        }));
    </script>
{% endblock %}