<style>
    #desc {
        height: 360px;
    }
</style>

<div class="container" style="padding-top: 20px;padding-bottom: 20px;">
    <h1>{{ '创建项目' if is_create else '修改项目' }}</h1>
    <br>
    <form method="post" action="" id="form">
        {{ form.hidden_tag() }}
        <div class="form-group" style="width: 70%;">
            <label for="project_name" class="form-control-label">项目名称</label>
            {{ form.project_name(class="form-control") }}
        </div>
        <div class="form-group">
            <label for="desc" class="form-control-label">项目详情</label>
            {{ form.desc(class="form-control") }}
        </div>
        <div class="form-group" style="width: 70%;">
            <label for="end_time" class="form-control-label">结束时间</label>
            {{ form.end_time(class="form-control", id="time_picker") }}
        </div>
        {% if is_create %}
            <input class="btn btn-light" type="button" value='创建' onclick="create_form()">
        {% else %}
            <input class="btn btn-light" type="button" value='修改' onclick="change_form({{ project_id }})">
        {% endif %}
    </form>
</div>

<script>
    laydate.render({
        elem: '#time_picker',
        type: 'datetime',
        format: 'yyyy-MM-dd HH:mm',
        trigger: 'click',
        theme: '#393D49'
    });
    var create_form = function () {
        jQuery.post('{{ url_for("team.create_project") }}', jQuery('#form').serialize(), function (data) {
            if (data === 'true') {
                layer.msg('创建成功', {icon: 1});
                layer.closeAll('page');
                parent.jQuery('#manage_iframe').attr('src', parent.jQuery('#manage_iframe').attr('src'));
            } else {
                layer.msg('创建失败', {icon: 5});
            }
        })
    };
    var change_form = function (project_id) {
        jQuery.post(Flask.url_for("team.change_project", {"project_id": project_id}), jQuery('#form').serialize(), function (data) {
            if (data === 'true') {
                layer.msg('创建成功', {icon: 1});
                parent.jQuery('#manage_iframe').attr('src', parent.jQuery('#manage_iframe').attr('src'));
            } else {
                layer.msg('创建失败', {icon: 5});
            }
        })
    };
</script>