<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>

<div class="container" style="padding-top: 20px;padding-bottom: 20px;">

    <h1>{{ team.team_name }}</h1>
    <br>
    <p>{{ team.desc }}</p>
    <br>
    <table>
        {% for teammate in teammates %}
            <tr>
                <td>{{ teammate.username }} | {{ teammate.stu_num }} | {{ teammate.set_num }} | <button class="btn-light btn">详细信息</button></td>
            </tr>
        {% endfor %}
    </table>
    {% if not normal_user %}
    <button class="btn-light btn" onclick=window.location.href="{{ url_for('team.home', team_id=team.id) }}">添加成员</button>
    {% endif %}

</div>

<script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}" ></script>
</body>