{% extends 'iframe_base.html' %}

{% block content %}
    <div class="container-fluid" style="padding: 40px 20px;">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="card" style="padding: 10px;">
                    <div class="card-header user-header alt bg-dark">
                        <h1 class="text-light display-6">{{ team.team_name }}</h1>
                    </div>
                    <div class="card-body" style="padding: 15px 0 0 0;">
                        <p>{{ team.desc }}</p>
                        <button class="btn btn-light" style="float: right;">修改信息</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header" style="text-align: center">
                        <strong class="card-title">小组成员</strong>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">用户名</th>
                                <th scope="col">学号</th>
                                <th scope="col">座位号</th>
                                {% if current_user == team.leader or current_user.role == 'admin'%}
                                    <th scope="col">操作</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for teammate in teammates %}
                                {% if teammate == team.leader %}
                                    <tr style="height: 63px;">
                                        <td style="vertical-align: middle;"><a
                                                href="{{ url_for('account.profile', stu_num=teammate.stu_num) }}">{{ teammate.username }}</a>
                                            (组长)
                                        </td>
                                        <td style="vertical-align: middle;">{{ teammate.stu_num }}</td>
                                        <td style="vertical-align: middle;">{{ teammate.profile.set_num }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td style="vertical-align: middle;"><a
                                                href="{{ url_for('account.profile', stu_num=teammate.stu_num) }}">{{ teammate.username }}</a>
                                        </td>
                                        <td style="vertical-align: middle;">{{ teammate.stu_num }}</td>
                                        <td style="vertical-align: middle;">{{ teammate.profile.set_num }}</td>
                                        {% if current_user == team.leader or current_user.role == 'admin'%}
                                            <td>
                                                <button class="btn-light btn"
                                                        onclick="del_teammate({{ teammate.stu_num }})">删除
                                                </button>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if current_user.role == 'admin' or current_user.manage_team_id == team.id %}
                            <button class="btn-light btn" style="float: right;"
                                    onclick="add_teammate({{ team.id }})">
                                添加成员
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-6">
                {% if projects == [] %}
                    <div class="card">
                        <div class="card-body"><p class="card-text">目前没有项目</p></div>
                    </div>
                {% endif %}
                {% for project in projects %}
                    <div class="card" style="margin-bottom: 20px;">
                        <div class="card-header">
                            <strong class="card-title">
                                <a style="color: black !important;"
                                   href="javascript:void(0);"
                                   onclick="go_detail({{ project.id }})">{{ project.project_name }}</a>
                                {#                               href="javascript:void(0);" onclick="jQuery('#iframe').attr('src', '{{ url_for('team.project_detail', project_id=project.id) }}')">{{ project.project_name }}</a>#}
                            </strong>
                            <p style="float: right;margin-bottom: 0">{{ project.end_time }}</p>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ project.desc }}</p>
                            {% if project.status == '0' %}
                                <button class="btn btn-light" style="float: right">结束项目</button>
                            {% else %}
                                <button class="btn btn-light" style="float: right">删除项目</button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% if current_user == team.leader or current_user.role == 'admin' %}
                    <button class="btn-light btn" style="float: right;"
                            onclick="create_project()">
                        创建项目
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ JSGlue.include() }}
    <script src="{{ url_for('static', filename='layer/layer.js') }}"></script>
    <script src="{{ url_for('static', filename='laydate/laydate.js') }}"></script>
    <script>
        const del_teammate = function (stu_num) {
            layer.confirm('确定删除吗?', {
                btn: ['确定', '取消']
            }, function () {
                jQuery.post(Flask.url_for('team.delete_teammate', {'team_id': {{ team.id }}}), JSON.stringify({
                    'stu_num': stu_num
                }), function (data) {
                    if (data === 'true') {
                        layer.msg('删除成功', {icon: 1});
                        window.location.reload();
                    } else {
                        layer.msg('删除失败', {icon: 5});
                    }
                })
            });
        };
        const add_teammate = function (team_id) {
            jQuery.get(Flask.url_for('team.add_teammate', {'team_id': team_id}), {}, function (data) {
                layer.open({
                    type: 1,
                    title: '{{ team.team_name }}',
                    area: '500px',
                    skin: 'layui-layer-rim',
                    content: data
                })
            })
        };
        const create_project = function () {
            jQuery.get(Flask.url_for('team.create_project'), {}, function (data) {
                layer.open({
                    type: 1,
                    title: '新建项目',
                    area: '500px',
                    skin: 'layui-layer-rim',
                    content: data
                })
            })
        };
        const go_detail = function (project_id) {
            parent.jQuery('#manage_iframe').attr('src', Flask.url_for('team.project_detail', {'project_id': project_id}));
        }
    </script>
{% endblock %}