<table id="bootstrap-data-table" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th scope="col" style="width: 40%">需求</th>
        <th scope="col" style="width: 27%">执行者</th>
        <th scope="col" style="width: 10%">优先级</th>
        <th scope="col" style="width: 23%">状态</th>
    </tr>
    </thead>
    <tbody>
    {% for backlog in backlogs.items %}
        <tr>
            <td style="vertical-align: middle;">
                <a href="javascript:void(0);" onclick="backlog_detail({{ backlog.id }})">
                    {{ backlog.backlog_name }}
                </a>
            </td>
            <td style="vertical-align: middle;">{{ backlog.executor.username }}</td>
            <td style="vertical-align: middle;">
                {% if backlog.priority == '0' %}
                    低
                {% elif backlog.priority == '1' %}
                    正常
                {% elif backlog.priority == '2' %}
                    高
                {% elif backlog.priority == '3' %}
                    紧急
                {% endif %}
            </td>
            <td style="vertical-align: middle;">
                <span style="vertical-align: middle;">
                {% if backlog.status == '0' %}
                    待处理
                {% elif backlog.status == '1' %}
                    开发中
                {% elif backlog.status == '2' %}
                    测试中
                {% elif backlog.status == '3' %}
                    已处理
                {% endif %}
                </span>
                <button class="btn btn-light btn-sm" style="float: right;margin: 0 5px;"
                        onclick="change_backlog({{ backlog.id }})">
                    修改
                </button>
                <button class="btn btn-light btn-sm" style="float: right;margin: 0 5px;">删除</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="dataTables_paginate paging_simple_numbers" id="bootstrap-data-table_paginate"
     style="margin-bottom: 10px;">
    <ul class="pagination justify-content-center">

        {% if backlogs.has_prev %}
            <li class="paginate_button page-item previous"
                id="bootstrap-data-table_previous">
                <a class="page-link"
                   href="javascript:void (0);"
                   aria-label="Previous"
                   onclick="flash_backlog({{ project.id }}, {{ backlogs.prev_num }})">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% else %}
            <li class="paginate_button page-item previous disabled"
                id="bootstrap-data-table_previous">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
        {% for page in backlogs.iter_pages(1,1,3,1) %}
            {% if page %}
                <li class="paginate_button page-item {% if page == backlogs.page %}active{% endif %}"
                    id="bootstrap-data-table_previous">
                    <a class="page-link"
                       href="javascript:void (0);"
                       aria-label="Previous"
                       onclick="flash_backlog({{ project.id }}, {{ page }})">
                        <span aria-hidden="true">{{ page }}</span>
                    </a>
                </li>
            {% else %}
                <li class="paginate_button page-item disabled"
                    id="bootstrap-data-table_previous">
                    <a class="page-link" href="javascript:void (0);"
                       aria-label="Previous">
                        <span aria-hidden="true">&hellip;</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        {% if backlogs.has_next %}
            <li class="paginate_button page-item next">
                <a class="page-link"
                   href="javascript:void (0);"
                   aria-label="Next"
                   onclick="flash_backlog({{ project.id }}, {{ backlogs.next_num }})">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="paginate_button page-item next disabled">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
    <div class="row justify-content-center"
         style="width: inherit;margin-left: 0;margin-right: 0;margin-bottom: 10px;">
        <button class="btn btn-light {% if project.status == '1' %}disabled{% endif %}"
                onclick="create_backlog({{ project.id }})" {% if project.status == '1' %}disabled{% endif %}>
            新增需求
        </button>
    </div>
</div>

<script>
    var create_backlog = function (project_id) {
        jQuery.get(Flask.url_for('team.create_backlog', {'project_id': project_id}), {}, function (data) {
            layer.open({
                type: 1,
                title: '新增需求',
                area: '500px',
                skin: 'layui-layer-rim',
                content: data
            })
        })
    };
    var backlog_detail = function (backlog_id) {
        jQuery.get(Flask.url_for('team.backlog_detail', {'backlog_id': backlog_id}), {}, function (data) {
            layer.open({
                type: 1,
                title: '需求详情',
                area: '500px',
                skin: 'layui-layer-rim',
                content: data
            })
        })
    };
    var change_backlog = function (backlog_id) {
        jQuery.get(Flask.url_for('team.change_backlog', {'backlog_id': backlog_id}), {}, function (data) {
            layer.open({
                type: 1,
                title: '修改需求',
                area: '500px',
                skin: 'layui-layer-rim',
                content: data
            })
        })
    }
</script>