{% extends 'iframe_base.html' %}

{% block content %}
    <div class="container" style="padding-top: 20px;padding-bottom: 20px;">
        <div class="row justify-content-center" style="width: inherit;margin: 20px 0;">
            <div class="col-12">
                <h1 style="text-align: center; margin-bottom: 10px">{{ project.project_name }}{% if project.status == '1' %}<strong>&nbsp;已结束</strong>{% endif %}</h1>
            </div>
            <button class="btn btn-light" style="margin: 0 10px" onclick="flash_backlog({{ project.id }})">需求</button>
            <button class="btn btn-light" style="margin: 0 10px" onclick="flash_bug({{ project.id }})">缺陷</button>
        </div>
        <div class="row">
            <div class="col-12" id="project_detail">
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ JSGlue.include() }}
    <script src="{{ url_for('static', filename='layer/layer.js') }}"></script>
    <script>
        window.onload = function () {
            jQuery.get(Flask.url_for('team.project_backlog', {'project_id': {{ project.id }}}), {}, function (data) {
                jQuery('#project_detail').append(data)
            })
        };
        var flash_backlog = function (project_id, page=1) {
            jQuery.get(Flask.url_for('team.project_backlog', {'project_id': project_id, 'page': page}), {}, function (data) {
                jQuery('#project_detail').html(data);
            })
        };
        var flash_bug = function (project_id, page=1) {
            jQuery.get(Flask.url_for('team.project_bug', {'project_id': project_id, 'page': page}), {}, function (data) {
                jQuery('#project_detail').html(data);
            })
        }
    </script>
{% endblock %}