<!DOCTYPE html>
<html lang="en" style="height: 100%;margin: 0;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pe-icon-7-stroke.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/cs-skin-elastic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">

    <style>
        #weatherWidget .currentDesc {
            color: #ffffff !important;
        }

        #flotPie1 td {
            padding: 3px;
        }

        #flotPie1 table {
            top: 20px !important;
            right: -10px !important;
        }
    </style>
    {% block css %}
    {% endblock %}
</head>
<body style="height: 100%;margin: 0;">

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            {% block left_panel %}
            {% endblock %}
        </div>
    </nav>
</aside>

<div id="right-panel" class="right-panel" style="height: 100vh;width: -webkit-fill-available;position: fixed;">
    <header id="header" class="header" style="height: 55px">
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CUIT-TP</a>
                <a class="navbar-brand hidden" href="#">CUIT-TP</a>
                <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                <a id="refresh" class="refresh"><i class="fa fa-refresh"></i></a>
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">
                <div class="header-left">
                    <div class="dropdown for-notification">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="notification"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="count bg-danger">3</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="notification">
                            <p class="red">You have 3 Notification</p>
                            <a class="dropdown-item media" href="#">
                                <i class="fa fa-check"></i>
                                <p>Server #1 overloaded.</p>
                            </a>
                            <a class="dropdown-item media" href="#">
                                <i class="fa fa-info"></i>
                                <p>Server #2 overloaded.</p>
                            </a>
                            <a class="dropdown-item media" href="#">
                                <i class="fa fa-warning"></i>
                                <p>Server #3 overloaded.</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        {{ current_user.username }}
                    </a>
                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="{{ url_for('account.logout') }}">登出</a>
                    </div>
                </div>

            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <div class="clearfix"></div>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/html5shiv.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.matchHeight.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
<script>const $ = jQuery;</script>
{% block js %}
{% endblock %}
</body>
</html>
