<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    {% block css %}
    {% endblock %}
</head>
<body>

<div class="container" style="padding-top: 20px;padding-bottom: 20px;">

    {% block content %}
    {% endblock %}

</div>

<script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}" ></script>
{% block js %}
{% endblock %}
</body>