<!DOCTYPE html>
<html lang="en" style="min-height: 100vh;margin: 0">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pe-icon-7-stroke.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/cs-skin-elastic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    {% block css %}
    {% endblock %}
</head>

<body style="min-height: 100vh;margin: 0;">
{% block content %}
{% endblock %}
<script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/html5shiv.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.matchHeight.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
{% block js %}
{% endblock %}
</body>
</html>