{% extends 'iframe_base.html' %}

{% block content %}
    <div class="container" style="padding-top: 20px;padding-bottom: 20px;">
        <h1>{{ activity.activity_name }}</h1>
        <br>
        <h4>{{ '未开始' if activity.status=='0' else '已结束' }}</h4>
        <br>
        <p>详细信息： {{ activity.desc }}</p>
        <p>开始时间： {{ activity.start_time }}</p>
        <button class="btn btn-light" style="float: right;margin-bottom: 10px;"
                onclick="change_activity({{ activity.id }})">修改
        </button>
        <button class="btn btn-light" style="float: right;margin-right: 20px;margin-bottom: 10px;"
                onclick="del_activity({{ activity.id }})">删除
        </button>
    </div>
{% endblock %}

{% block js %}
    {{ JSGlue.include() }}
    <script>
        const change_activity = function (activity_id) {
            jQuery.get(Flask.url_for('lab.change_activity', {'activity_id': activity_id}), {}, function (data) {
                layer.closeAll('page');
                layer.open({
                    type: 1,
                    title: '修改事务',
                    skin: 'layui-layer-rim',
                    area: '500px',
                    content: data
                });
            });
        };
        const del_activity = function (activity_id) {
            layer.confirm('确定删除吗?', {
                btn: ['确定', '取消']
            }, function () {
                jQuery.post(Flask.url_for('lab.delete_activity'), JSON.stringify({'activity_id': activity_id}), function (data) {
                    if (data === 'true') {
                        layer.msg('删除成功', {icon: 1});
                        window.location.reload();
                    } else {
                        layer.msg('删除失败', {icon: 5});
                    }
                })
            });
        }
    </script>
{% endblock %}