{% extends 'base.html' %}

{% block title %}
    修改学生信息
{% endblock %}

{% block content %}
    <h1>账号id: {{ user.id }}</h1>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=20) }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=20) }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.stu_num.label }}<br>
            {{ form.stu_num(size=20) }}<br>
            {% for error in form.stu_num.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.role.label }}<br>
            {{ form.role }}<br>
            {% for error in form.role.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.phone.label }}<br>
            {{ form.phone(size=20) }}<br>
            {% for error in form.phone.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.college.label }}<br>
            {{ form.college(size=20) }}<br>
            {% for error in form.college.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.grade.label }}<br>
            {{ form.grade(size=20) }}<br>
            {% for error in form.grade.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.c_lass.label }}<br>
            {{ form.c_lass(size=20) }}<br>
            {% for error in form.c_lass.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.manage_lab_student_profile.label }}<br>
            {{ form.manage_lab_student_profile(size=20) }}<br>
            {% for error in form.manage_lab_student_profile.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.manage_lab_task.label }}<br>
            {{ form.manage_lab_task(size=20) }}<br>
            {% for error in form.manage_lab_task.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.change_set.label }}<br>
            {{ form.change_set(size=20) }}<br>
            {% for error in form.change_set.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.verify_asset.label }}<br>
            {{ form.verify_asset(size=20) }}<br>
            {% for error in form.verify_asset.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.change_lab_info.label }}<br>
            {{ form.change_lab_info(size=20) }}<br>
            {% for error in form.change_lab_info.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.publish_lab_activity.label }}<br>
            {{ form.publish_lab_activity(size=20) }}<br>
            {% for error in form.publish_lab_activity.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.change_team_info.label }}<br>
            {{ form.change_team_info(size=20) }}<br>
            {% for error in form.change_team_info.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.publish_team_activity.label }}<br>
            {{ form.publish_team_activity(size=20) }}<br>
            {% for error in form.publish_team_activity.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <input type="submit" value="go">
    </form>
{% endblock %}
