{% extends 'base.html' %}

{% block title %}
修改座位
{% endblock %}

{% block content %}
    <p>修改座位</p>
    <table>
        {% for user in users.items %}
            {% if user.stu_num != '0000000000' %}
            <tr>
                <td>{{ user.username }} | {{ user.set_num if user.set_num != '0' else '未设置' }} | <button>修改座位</button> | <button>确定</button></td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    {% if users.has_prev %}<a href="{{ url_for('lab.change_set', page=users.prev_num) }}">上一页</a>{% else %}上一页{% endif %} |
    {% if users.has_next %}<a href="{{ url_for('lab.change_set', page=users.next_num) }}">下一页</a>{% else %}下一页{% endif %}
{% endblock %}
