{% extends 'base.html' %}

{% block title %}
    创建小组
{% endblock %}

{% block content %}
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <div class="input-group mb-3" style="width: 30%;">
            <div class="input-group-prepend">
                <span class="input-group-text">小组名称</span>
            </div>
            {{ form.team_name(class="form-control") }}
        </div>
        <div class="input-group mb-3" style="width: 50%;height: 200px;">
            <div class="input-group-prepend">
                <span class="input-group-text">小组简介</span>
            </div>
            {{ form.desc(class="form-control") }}
        </div>
        <div class="input-group mb-3" style="width: 20%;">
            <div class="input-group-prepend">
                <span class="input-group-text">小组组长</span>
            </div>
            {{ form.leader(class="form-control") }}
        </div>
        <input class="btn btn-light" type="submit" value="go">
    </form>
{% endblock %}