<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <style>
        #desc {
            height: 360px;
        }
    </style>
</head>
<body>
<div class="card" style="width: 488px;margin: 0">
    <div class="card-body">
        <h1>{{ '新建活动' if is_create else '修改活动' }}</h1>
        <br>
        <form method="post" action="" id="form">
            {{ form.hidden_tag() }}
            <div class="form-group" style="width: 70%;">
                <label for="activity_name" class="form-control-label">活动</label>
                {{ form.activity_name(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="desc" class="form-control-label">详情</label>
                {{ form.desc(class="form-control") }}
            </div>
            <div class="form-group" style="width: 70%;">
                <label for="start_time" class="form-control-label">时间</label>
                {{ form.start_time(class="form-control", id="time_picker") }}
            </div>
            <input type="button" class="btn btn-light" style="display:block;margin:0 auto" onclick="create_form()" value="保存">
        </form>
    </div>

    <script>
        laydate.render({
            elem: '#time_picker',
            type: 'datetime',
            format: 'yyyy-MM-dd HH:mm',
            theme: '#393D49'
        });
        var create_form = function () {
            jQuery.post('{{ url_for("lab.create_activity") }}', jQuery('#form').serialize(), function (data) {
                if (data === 'true') {
                    layer.msg('创建成功', {icon: 1});
                    parent.jQuery('#iframe').attr('src', parent.jQuery('#iframe').attr('src'));
                } else {
                    layer.msg('创建失败', {icon: 5});
                }
            })
        };
    </script>
</div>
</body>
</html>