{% extends 'base.html' %}

{% block title %}
    创建小组
{% endblock %}

{% block content %}
<form method="post" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.team_name.label }}<br>
            {{ form.team_name(size=20) }}<br>
            {% for error in form.team_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.desc.label }}<br>
            {{ form.desc(size=20) }}<br>
            {% for error in form.desc.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.leader.label }}<br>
            {{ form.leader }}<br>
            {% for error in form.leader.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <input type="submit" value="go">
    </form>
{% endblock %}