{% extends 'iframe_base.html' %}

{% block content %}
    <div class="container" style="min-height: 100vh">
        <div class="row" style="min-height: 100vh;align-items:center;">
            <div class="col-md-4 offset-4">
                <aside class="profile-nav alt">
                    <section class="card">
                        <div class="card-header user-header alt bg-dark">
                            <div class="media">
                                <div class="media-body">
                                    <h2 class="text-light display-6">
                                        {% if user %}
                                            {{ user.username }}
                                        {% else %}
                                            请设置班长
                                        {% endif %}</h2>
                                </div>
                            </div>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="color: #878787;">
                                <p style="margin: 0;"><i class="fa fa-envelope"></i>{{ user.email }}</p>
                            </li>
                            <li class="list-group-item" style="color: #878787;">
                                <p style="margin: 0;"><i
                                        class="fa fa-phone-square"></i>{{ '未设置' if user.profile.phone == '0' else user.profile.phone }}
                                </p>
                            </li>
                            <li class="list-group-item" style="color: #878787;">
                                <p style="margin: 0;"><i
                                        class="fa fa-qq"></i>{{ '未设置' if not user.profile.QQ else user.profile.QQ }}</p>
                            </li>
                            <li class="list-group-item"
                                style="color: #878787;border-bottom: 2px solid #878787 !important;">
                                <p style="margin: 0;"><i
                                        class="fa fa-wechat"></i>{{ '未设置' if not user.profile.wechat else user.profile.wechat }}
                                </p>
                            </li>
                        </ul>
                        <form method="post" action="" style="padding: 10px;">
                            {{ form.hidden_tag() }}
                            <h5 id="title">班长权限</h5>
                            <div class="form-check">
                                {{ form.manage_lab_student_profile(class="form-check-input permission", id='manage_lab_student_profile') }}
                                <label class="form-check-label" for="manage_lab_student_profile">管理学生信息</label>
                            </div>
                            <div class="form-check">
                                {{ form.manage_lab_task(class="form-check-input permission", id='manage_lab_task') }}
                                <label class="form-check-label" for="manage_lab_task">管理实验室事务</label>
                            </div>
                            <div class="form-check">
                                {{ form.change_set(class="form-check-input permission", id='change_set') }}
                                <label class="form-check-label" for="change_set">修改座位</label>
                            </div>
                            <div class="form-check">
                                {{ form.verify_asset(class="form-check-input permission", id='verify_asset') }}
                                <label class="form-check-label" for="verify_asset">资产审核</label>
                            </div>
                            <div class="form-check">
                                {{ form.manage_lab_team(class="form-check-input permission", id='manage_lab_team') }}
                                <label class="form-check-label" for="manage_lab_team">管理小组</label>
                            </div>
                            <div class="form-check">
                                {{ form.publish_lab_activity(class="form-check-input permission", id='publish_lab_activity') }}
                                <label class="form-check-label" for="publish_lab_activity">发布实验室活动</label>
                            </div>
                            <input class="btn btn-light" type="button" id="change" style="display:block;margin:0 auto" onclick='change_permission()' value="修改">
                            <div class="input-group mb-3" id="selector" style="visibility: hidden;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">班长</span>
                                </div>
                                {{ form.user(class="form-control permission") }}
                                <input type="submit" class="btn btn-light" id="submit" value="确定"
                                       style="visibility: hidden;margin-left: 40px;">
                            </div>
                        </form>
                    </section>
                </aside>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        jQuery(document).ready(function () {
            jQuery(".permission").attr({'disabled': true});
        });
        const change_permission = function () {
            jQuery(".permission").attr({"disabled": false});
            jQuery("#submit").css({"visibility": "visible"});
            jQuery("#selector").css({"visibility": "visible"});
            jQuery("#change").css({"visibility": "hidden"});
        }
    </script>
{% endblock %}