{% extends 'iframe_base.html' %}

{% block css %}
    <style type="text/css">
        .set {
            width: 176px;
            height: 101px;
            padding: 2px;
            border: 1px solid #aaaaaa;
            display: inline-block;
        }

        .unset-set {
            width: 176px;
            height: 101px;
            padding: 2px;
            border: 1px solid #aaaaaa;
            display: inline-block;
        }

        .set-label {
            display: inline-block;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="text-align: center">
                            <strong class="card-title">座位管理</strong>
                        </div>
                        <div class="card-body" style="padding: 10px;display: inline-block;">
                            {% for unset_user in unset_users %}
                                <div class="unset-set" ondrop="drop(event)" ondragover="allowDrop(event)">
                                    <div class="card"
                                         style="width: 10rem;display: inline-block;text-align: center;margin: 5px 5px;"
                                         draggable="true" ondragstart="drag(event)" id="{{ unset_user[2] }}">
                                        <div class="card-body">
                                            <p style="margin-bottom: 0;">
                                                <strong>{{ unset_user[0] }}</strong>
                                            </p>
                                            <p style="margin-bottom: 0;">未设置</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <hr>
                            {% for i in range(config.LAB_SET_NUM) %}
                                <div class="set-label">
                                    <p class="set-num" style="margin-bottom: 0;text-align: center">{{ i + 1 }}</p>
                                    <div class="set" id="{{ i + 1 }}" ondrop="drop(event)"
                                         ondragover="allowDrop(event)">
                                        {% if i + 1 in set_users.keys() %}
                                            <div class="card"
                                                 style="width: 10rem;display: inline-block;text-align: center;margin: 5px 5px;"
                                                 draggable="true" ondragstart="drag(event)"
                                                 id="{{ set_users[i + 1].stu_num }}">
                                                <div class="card-body">
                                                    <p style="margin-bottom: 0;">
                                                        <strong>{{ set_users[i + 1].username }}</strong>
                                                    </p>
                                                    <p style="margin-bottom: 0;">
                                                        座位号: {{ set_users[i + 1].profile.set_num }}</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="row justify-content-center" style="width: inherit;margin: 20px 20px">
                                <button class="btn btn-light">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ JSGlue.include() }}
    <script>
        function change_set() {

        }

        function drag(ev) {
            ev.dataTransfer.setData("Text", ev.target.id);
        }

        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("Text");
            ev.target.appendChild(document.getElementById(data));
        }
    </script>
{% endblock %}