{% extends 'iframe_base.html' %}

{% block content %}
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">实验室事务管理</strong>
                        </div>
                        <div class="card-body">
                            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col" style="width: 30%">事务</th>
                                    <th scope="col" style="width: 25%">执行者</th>
                                    <th scope="col" style="width: 20%">时间</th>
                                    <th scope="col" style="width: 25%">状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for task in tasks.items %}
                                    <tr>
                                        <td style="vertical-align: middle;">
                                            <a href="#" onclick="task_detail({{ task.id }})">
                                                {{ task.task_name }}
                                            </a>
                                        </td>
                                        <td style="vertical-align: middle;">{{ task.executor.username }}</td>
                                        <td style="vertical-align: middle;{% if task.execute_datetime < now and task.status=='0' %}color: red;{% endif %}">{{ task.execute_datetime }}</td>
                                        <td style="vertical-align: middle;"><span
                                                style="vertical-align: middle;">{{ '未完成' if task.status=='0' else '已完成' }}</span>
                                            <button class="btn btn-light btn-sm" style="float: right;margin: 0 5px;"
                                                    onclick="delete_task({{ task.id }})">删除
                                            </button>
                                            <button class="btn btn-light btn-sm" style="float: right;margin: 0 5px;"
                                                    onclick="change_status({{ task.id }})">切换状态
                                            </button>
                                            <button class="btn btn-light btn-sm" style="float: right;margin: 0 5px;"
                                                    onclick="change_task({{ task.id }})">修改
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <div class="dataTables_paginate paging_simple_numbers" id="bootstrap-data-table_paginate"
                                 style="margin-bottom: 10px;">
                                <ul class="pagination justify-content-center">

                                    {% if tasks.has_prev %}
                                        <li class="paginate_button page-item previous"
                                            id="bootstrap-data-table_previous">
                                            <a class="page-link" href="{{ url_for('lab.task', page=tasks.prev_num) }}"
                                               aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="paginate_button page-item previous disabled"
                                            id="bootstrap-data-table_previous">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% for page in tasks.iter_pages(1,1,3,1) %}
                                        {% if page %}
                                            <li class="paginate_button page-item {% if page == tasks.page %}active{% endif %}"
                                                id="bootstrap-data-table_previous">
                                                <a class="page-link" href="{{ url_for('lab.task', page=page) }}"
                                                   aria-label="Previous">
                                                    <span aria-hidden="true">{{ page }}</span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="paginate_button page-item disabled"
                                                id="bootstrap-data-table_previous">
                                                <a class="page-link" href="{{ url_for('lab.task', page=page) }}"
                                                   aria-label="Previous">
                                                    <span aria-hidden="true">&hellip;</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if tasks.has_next %}
                                        <li class="paginate_button page-item next">
                                            <a class="page-link" href="{{ url_for('lab.task', page=tasks.next_num) }}"
                                               aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="paginate_button page-item next disabled">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                                <div class="row justify-content-center"
                                     style="width: inherit;margin-left: 0;margin-right: 0;margin-bottom: 10px;">
                                    <button class="btn btn-light"
                                            onclick="create_task()">创建事务
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ JSGlue.include() }}
    <script src="{{ url_for('static', filename='layer/layer.js') }}"></script>
    <script src="{{ url_for('static', filename='laydate/laydate.js') }}"></script>
    <script>
        const create_task = function () {
            jQuery.get(Flask.url_for('lab.create_task'), {}, function (data) {
                layer.open({
                    type: 1,
                    title: '创建事务',
                    skin: 'layui-layer-rim',
                    area: '500px',
                    content: data
                })
            })
        };
        const task_detail = function (task_id) {
            jQuery.get(Flask.url_for('lab.task_detail', {'task_id': task_id}), function (data) {
                layer.open({
                    type: 1,
                    title: '事务详情',
                    skin: 'layui-layer-rim',
                    area: '500px',
                    content: data
                });
            })
        };
        const change_status = function (task_id) {
            jQuery.post(Flask.url_for('lab.change_task_status'), JSON.stringify({'task_id': task_id}), function (data) {
                if (data === 'true') {
                    layer.msg('切换成功', {icon: 1}, {time: 300});
                    window.location.reload();
                } else {
                    layer.msg('切换失败', {icon: 5}, {time: 300});
                }
            })
        };
        var delete_task = function (task_id) {
            layer.confirm('确定删除吗?', {
                btn: ['确定', '取消']
            }, function () {
                jQuery.post(Flask.url_for('lab.delete_task'), JSON.stringify({'task_id': task_id}), function (data) {
                    if (data === 'true') {
                        layer.msg('删除成功', {icon: 1}, {time: 300});
                        window.location.reload();
                    } else {
                        layer.msg('删除失败', {icon: 5}, {time: 300});
                    }
                })
            })
        };
        var change_task = function (task_id) {
            jQuery.get(Flask.url_for('lab.change_task', {'task_id': task_id}), {}, function (data) {
                layer.open({
                    type: 1,
                    title: '修改事务',
                    skin: 'layui-layer-rim',
                    area: '500px',
                    content: data
                });
            });
        };
    </script>
{% endblock %}
