{% extends 'iframe_base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tempusdominus-bootstrap-4.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
{% endblock %}

{% block content %}
    <h1>申请资产</h1>
    <br>
    <form method="post" action="">
        {{ form.hidden_tag() }}

        <div class="input-group mb-3" style="width: 20%;">
            <div class="input-group-prepend">
                <span class="input-group-text">资产名称</span>
            </div>
            {{ form.asset_name(class="form-control") }}
        </div>
        <div class="input-group mb-3" style="width: 50%;height: 200px;">
            <div class="input-group-prepend">
                <span class="input-group-text">详细描述</span>
            </div>
            {{ form.desc(class="form-control") }}
        </div>
        <div class="input-group mb-3 date" id="start_datetimepicker" data-target-input="nearest" style="width: 40%;">
            <div class="input-group-prepend">
                <span class="input-group-text">开始日期</span>
            </div>
            {{ form.start_time(class="form-control datetimepicker-input") }}
            <div class="input-group-append" data-target="#start_datetimepicker" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
        <div class="input-group mb-3" id="end_datetimepicker" data-target-input="nearest" style="width: 40%;">
            <div class="input-group-prepend">
                <span class="input-group-text">结束日期</span>
            </div>
            {{ form.end_time(class="form-control datetimepicker-input") }}
            <div class="input-group-append" data-target="#end_datetimepicker" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
        <input type="submit" class="btn btn-light" value="提交">
    </form>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tempusdominus-bootstrap-4.js') }}" ></script>
    <script>
        $(document).ready($(function () {
            $('#start_datetimepicker').datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
                todayHighlight: true,
                icons:{
                    time: 'fa fa-clock',
                    date: 'fa fa-calendar-alt',
                },
            });
            $('#end_datetimepicker').datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
                todayHighlight: true,
                icons:{
                    time: 'fa fa-clock',
                    date: 'fa fa-calendar-alt',
                },
            });
        }));
    </script>
{% endblock %}
