{% extends 'base.html' %}

{% block title %}
    申请资产
{% endblock %}

{% block content %}
    <h1>申请资产</h1>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.asset_name.label }}<br>
            {{ form.asset_name(size=20) }}<br>
            {% for error in form.asset_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.desc.label }}<br>
            {{ form.desc(size=20) }}<br>
            {% for error in form.desc.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.start_time.label }}<br>
            {{ form.start_time(size=20) }}<br>
            {% for error in form.start_time.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.end_time.label }}<br>
            {{ form.end_time(size=20) }}<br>
            {% for error in form.end_time.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <input type="submit" value="go">
    </form>
{% endblock %}
