{% extends 'iframe_base.html' %}

{% block css %}
    <style>
        #desc {
            height: 300px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card" style="width: 488px;margin: 0">
        <div class="card-body">
            <h1>申请资产</h1>
            <br>
            <form method="post" action="" id="form">
                {{ form.hidden_tag() }}
                <div class="form-group" style="width: 70%;">
                    <label for="asset_name" class="form-control-label">资产名称</label>
                    {{ form.asset_name(class="form-control") }}
                </div>
                <div class="form-group">
                    <label for="desc" class="form-control-label">详细描述</label>
                    {{ form.desc(class="form-control") }}
                </div>
                <div class="form-group" style="width: 70%;">
                    <label for="start_time" class="form-control-label">开始日期</label>
                    {{ form.start_time(class="form-control", id="start_time_picker") }}
                </div>
                <div class="form-group" style="width: 70%;">
                    <label for="end_time" class="form-control-label">结束日期</label>
                    {{ form.end_time(class="form-control", id="end_time_picker") }}
                </div>
                <input type="button" class="btn btn-light" value="提交" onclick="commit_form()">
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        laydate.render({
            elem: '#start_time_picker',
            type: 'datetime',
            format: 'yyyy-MM-dd HH:mm',
            trigger: 'click',
            theme: '#393D49'
        });
        laydate.render({
            elem: '#end_time_picker',
            type: 'datetime',
            format: 'yyyy-MM-dd HH:mm',
            trigger: 'click',
            theme: '#393D49'
        });
        var commit_form = function () {
            jQuery.post("{{ url_for('account.apply_asset') }}", jQuery('#form').serialize(), function (data) {
                if (data === 'true') {
                    layer.msg('提交成功', {icon: 1}, {time: 400});
                    window.location.reload();
                } else {
                    layer.msg('提交失败', {icon: 5}, {time: 400})
                }
            })
        }
    </script>
{% endblock %}
