<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>

<div class="container" style="padding-top: 20px;padding-bottom: 20px;">
    <h1>{{ user.username }}</h1>
    <br>
    <p>邮箱： {{ user.email }}</p>
    {% if current_user.role != 'admin' %}
        <p>学号： {{ user.stu_num }}</p>
    {% endif %}
    <br>
    <form method="post" action="{{ url_for('account.change_profile', stu_num=user.stu_num) if user.stu_num != '0000000000' else url_for('account.change_admin_profile') }}">
        {{ form.hidden_tag() }}
        <div class="input-group mb-3" style="width: 20%;">
            <div class="input-group-prepend">
                <span class="input-group-text">电话</span>
            </div>
            {{ form.phone(class="form-control") }}
        </div>
        <div class="input-group mb-3" style="width: 20%;">
            <div class="input-group-prepend" style="text-align: center;">
                <span class="input-group-text justify-content-center" style="width: 58px;">QQ</span>
            </div>
            {{ form.QQ(class="form-control") }}
        </div>
        <div class="input-group mb-3" style="width: 20%;">
            <div class="input-group-prepend">
                <span class="input-group-text">微信</span>
            </div>
            {{ form.wechat(class="form-control") }}
        </div>
        {% if user.role != 'admin' %}
        <div class="input-group mb-3" style="width: 20%;">
            <div class="input-group-prepend">
                <span class="input-group-text">专业</span>
            </div>
            {{ form.college(class="form-control") }}
        </div>
        <div class="input-group mb-3" style="width: 20%;">
            <div class="input-group-prepend">
                <span class="input-group-text">年级</span>
            </div>
            {{ form.grade(class="form-control", id="grade") }}
        </div>
        <div class="input-group mb-3" style="width: 20%;">
            <div class="input-group-prepend">
                <span class="input-group-text">班级</span>
            </div>
            {{ form.c_lass(class="form-control") }}
        </div>
        {% endif %}
        <div class="btn-group" style="width: 20%">
            <button type="button" class="btn btn-light float-left" onclick=window.location.href='{{ url_for('account.profile', stu_num=user.stu_num) }}'>返回</button>
            <button type="submit" class="btn btn-light float-right">修改</button>
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}" ></script>
<script>
    $('#grade').focus(function(){
        $('#grade').popover();
    });
</script>
</body>




