<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>

<div class="card" style="margin: 0">
    <div class="card-body">
        <h1>修改密码</h1>
        <br>
        <form method="post" action="{{ url_for('account.change_password', stu_num=user.stu_num) }}">
            {{ form.hidden_tag() }}
            {% if form.old_password %}
                <div class="form-group">
                    <label for="old_password" class="form-control-label">旧密码</label>
                    {{ form.old_password(class="form-control") }}
                </div>
            {% endif %}
            <div class="form-group">
                <label for="password" class="form-control-label">新密码</label>
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="confirm" class="form-control-label">新密码</label>
                {{ form.confirm(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-light float-right">修改</button>
            {% for error in form.confirm.errors %}
                <div class="alert alert-danger" style="width: 20%;" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </form>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
</body>