<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>

<div class="card" style="margin: 0">
    <div class="card-body">
        <h1>修改密码</h1>
        <br>
        <form method="post" action="" id="form">
            {{ form.hidden_tag() }}
            {% if form.old_password %}
                <div class="form-group">
                    <label for="old_password" class="form-control-label">旧密码</label>
                    {{ form.old_password(class="form-control") }}
                </div>
            {% endif %}
            <div class="form-group">
                <label for="password" class="form-control-label">新密码</label>
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="confirm" class="form-control-label">确认密码</label>
                {{ form.confirm(class="form-control") }}
            </div>
            <input type="button" class="btn btn-light float-right" onclick="submit_form({{ user.stu_num }})"
                   value="修改"/>
        </form>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
<script>
    var submit_form = function (stu_num) {
        jQuery.post(Flask.url_for("account.change_password", {"stu_num": stu_num}), jQuery('#form').serialize(), function (data) {
            if (data === 'true') {
                layer.msg('修改成功', {icon: 1});
                layer.closeAll('page');
                parent.jQuery('#manage_iframe').attr('src', parent.jQuery('#manage_iframe').attr('src'));
            } else if (data==='-1') {
                layer.msg('旧密码不正确', {icon: 5});
            } else if (data==='-2') {
                layer.msg('密码长度为8-48位', {icon: 5});
            }
        })
    }
</script>
</body>