<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>

<div class="card" style="margin: 0">
    <div class="card-body">
        <h1>{{ user.username }}</h1>
        <p>邮箱： {{ user.email }}</p>
        {% if current_user.role != 'admin' %}
            <p>学号： {{ user.stu_num }}</p>
        {% endif %}
        <br>
        <form method="post" action="" id="form">
            {{ form.hidden_tag() }}

            <div class="form-group">
                <label for="phone" class="form-control-label">
                    电话
                </label>
                {{ form.phone(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="QQ" class="form-control-label">QQ</label>
                {{ form.QQ(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="wechat" class="form-control-label">微信</label>
                {{ form.wechat(class="form-control") }}
            </div>
            {% if user.role != 'admin' %}
                <div class="form-group">
                    <label for="college" class="form-control-label">专业</label>
                    {{ form.college(class="form-control") }}
                </div>
                <div class="form-group">
                    <label for="grade" class="form-control-label">年级 如:2016</label>
                    {{ form.grade(class="form-control") }}
                </div>
                <div class="form-group">
                    <label for="c_lass" class="form-control-label">
                        班级 如:2班
                    </label>
                    {{ form.c_lass(class="form-control") }}
                </div>
            {% endif %}
            <input type="button" class="btn btn-light float-right"
                   onclick='submit_change_profile("{{ url_for('account.change_profile', stu_num=user.stu_num) if user.stu_num != '0000000000' else url_for('account.change_admin_profile') }}")'
                   value="修改"/>
        </form>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
<script>
    var submit_change_profile = function (url) {
        jQuery.post(url, jQuery('#form').serialize(), function (data) {
            if (data === 'true') {
                layer.msg('修改成功', {icon: 1});
                layer.closeAll('page');
                parent.jQuery('#manage_iframe').attr('src', parent.jQuery('#manage_iframe').attr('src'));
            } else if (data==='false') {
                layer.msg('信息错误,请检查', {icon: 5});
            }
        })
    }
</script>
</body>




