{% extends 'base.html' %}

{% block title %}
    设置管理员 {{ config.LAB_NAME }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4 offset-4" style="text-align: center">
            <h1>欢迎使用CUIT-TP</h1>
            <br>
            <p>初次使用请设置admin账户</p>
            <form method="post" action="" style="width: 50%" class="m-auto">
                {{ form.hidden_tag() }}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">姓名</span>
                    </div>
                    {{ form.username }}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">邮箱</span>
                    </div>
                    {{ form.email }}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">密码</span>
                    </div>
                    {{ form.password }}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">确认</span>
                    </div>
                    {{ form.confirm }}
                </div>
                <input type="submit" class="btn btn-light" value="注册">
            </form>
        </div>
    </div>
{% endblock %}