<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>忘记密码 {{ config.LAB_NAME }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/cs-skin-elastic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
</head>
<body style="height: 100%">
<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-form">
                {% with msg = get_flashed_messages() %}
                    {% if msg %}
                        <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                            <span class="badge badge-pill badge-danger">Error</span>
                            {{ msg[0] }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endwith %}
                <h1 style="text-align: center">忘记密码</h1>
                <br>
                <form method="post" action="">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label>学号或邮箱</label>
                        {{ form.email_or_stu_num }}
                    </div>
                    <p style="margin-top: 10px;font-size: 0.9rem">
                        <a href="{{ url_for("account.login") }}">去登录</a>
                        <a style="float: right" href="{{ url_for('account.register') }}">没有账号?</a>
                    </p>
                    <input type="submit" class="btn btn-light" style="margin-top: 10px" value="发送邮件">
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
</body>
