{% extends 'base.html' %}

{% block title %}
    忘记密码 {{ config.LAB_NAME }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4 offset-4" style="text-align: center">
            <h1>忘记密码</h1>
            <br>
            <form method="post" action="" class="m-auto" style="width: 50%">
                {{ form.hidden_tag() }}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">学号或邮箱</span>
                    </div>
                    {{ form.email_or_stu_num }}
                </div>
                <input type="submit" class="btn btn-light" value="发送邮件">
            </form>
        </div>
    </div>
{% endblock %}
