{% extends 'base.html' %}

{% block title %}
    Forget Password
{% endblock %}

{% block content %}
    <h1>Forget Password</h1>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email_or_stu_num.label }}<br>
            {{ form.email_or_stu_num(size=20) }}<br>
            {% for error in form.email_or_stu_num.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <input type="submit" value="go">
    </form>
{% endblock %}
