{% extends 'base.html' %}

{% block title %}
    登录 {{ config.LAB_NAME }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4 offset-4" style="text-align: center">
            <h1>登录</h1>
            <br>
            <form method="post" action="" style="width: 50%" class="m-auto">
                {{ form.csrf_token }}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">学号或邮箱</span>
                    </div>
                    {{ form.stu_num_or_email }}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 106px;text-align: center;display:block;">密码</span>
                    </div>
                    {{ form.password }}
                </div>
                    <div style="display: inline-block;margin-right: 160px">记住登录&nbsp{{ form.remember_me() }}</div><input type="submit" class="btn btn-light" value="登录">
                    <p style="margin-top: 30px;font-size: 0.9rem"><a style="margin-right: 160px" href="{{ url_for('account.forget_password') }}">忘记密码?</a><a href="{{ url_for('account.register') }}">没有账号?</a></p>
            </form>
        </div>
    </div>
{% endblock %}
