<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>

<div class="container" style="padding-top: 20px;padding-bottom: 20px;">

    <h1>{{ user.username }}</h1>
    <br>
    <p>邮箱： {{ user.email }}</p>
    <p>电话： {{ '未设置' if user.profile.phone == '00000000000' else user.profile.phone }}</p>
    <p>座位号: {{ '未设置' if user.profile.set_num == 0 else user.profile.set_num }}</p>
    <p>QQ： {{ '未设置' if not user.profile.QQ else user.profile.phone }}</p>
    <p>微信： {{ '未设置' if not user.profile.wechat else user.profile.phone }}</p>
    <p>学号： {{ '未设置' if user.stu_num == '0000000000' else user.stu_num }}</p>
    <p>专业： {{ '未设置' if not user.profile.college else user.profile.college}}</p>
    <p>年级： {{ '未设置' if user.profile.grade == '0' else user.profile.grade }}</p>
    <p>班级： {{ '未设置' if not user.profile._class else user.profile._class }}</p>
    <br>
    {% if current_user.stu_num == user.stu_num or current_user.role == 'admin' %}
        <div class="btn-group">
            <button type="button" class="btn btn-light" onclick=window.location.href='{{ url_for("account.change_profile", stu_num=user.stu_num) }}'>修改信息</button>
            <button type="button" class="btn btn-light" onclick=window.location.href='{{ url_for("account.change_password", stu_num=user.stu_num) }}'>修改密码</button>
        </div>
    {% endif %}
</div>

<script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}" ></script>
</body>


