{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <h1>Register</h1>
    <form method="post" action="{{ url_for('account.register') }}">
        {{ form.csrf_token }}
        {{ form.username.label }}
        {{ form.username(size=20) }}
        {{ form.email.label }}
        {{ form.email(size=20) }}
        {{ form.password.label }}
        {{ form.password(size=20) }}
        {{ form.confirm.label }}
        {{ form.confirm(size=20) }}
        {% if form.errors %}
            <ul>
                {% for error in form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% with msgs = get_flashed_messages() %}
    {% if msgs %}
    <ul>
        {% for msg in msgs %}
        <li>{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
        <input type="submit" value="go">
    </form>
{% endblock %}
