<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册 {{ config.LAB_NAME }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/cs-skin-elastic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body style="height: 100%">
<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-form">
                {% with msg = get_flashed_messages() %}
                    {% if msg %}
                        <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                            <span class="badge badge-pill badge-danger">Error</span>
                            {{ msg[0] }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endwith %}
                <h1 style="text-align: center">欢迎注册CUIT-TP!</h1>
                <br>
                <form method="post" action="">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label>姓名(请使用真实姓名方便老师管理)</label>
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        <label>学号(10位,可作为账号用于登录)</label>
                        {{ form.stu_num }}
                    </div>
                    <div class="form-group">
                        <label>
                            邮箱(可作为账号用于登录)
                            {% for message in form.email.errors %}
                                <small class="error">{{ message }}</small><br>
                            {% endfor %}
                        </label>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        <label>
                            密码(长度8-48位)
                            {% for message in form.password.errors %}
                                <small class="error">{{ message }}</small><br>
                            {% endfor %}
                        </label>
                        {{ form.password }}
                    </div>
                    <div class="form-group">
                        <label>确认密码</label>
                        {{ form.confirm }}
                    </div>
                    <p style="margin-top: 10px;font-size: 0.9rem">
                        <a style="float: right" href="{{ url_for('account.forget_password') }}">忘记密码?</a>
                        <a href="{{ url_for("account.login") }}">去登录</a>
                    </p>
                    <input type="submit" class="btn btn-light" style="margin-top: 10px;" value="注册">
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
</body>
