{% extends 'base.html' %}

{% block title %}
    重设密码 {{ config.LAB_NAME }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4 offset-4" style="text-align: center">
            <h1>重设密码</h1>
            <br>
            <form method="post" action="" class="m-auto" style="width: 50%">
                {{ form.hidden_tag() }}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">新密码</span>
                    </div>
                    {{ form.password }}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">新密码</span>
                    </div>
                    {{ form.confirm }}
                </div>
                <input type="submit" class="btn btn-light" value="确认修改">
            </form>
        </div>
    </div>
{% endblock %}
