{% extends 'base.html' %}

{% block title %}
    {{ config.LAB_NAME }}-TP
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-2 offset-1">
            <ul class="list-group" style="margin-bottom: 20px;">
                <li class="list-group-item list-group-item-secondary">实验室活动</li>
                {% for activity in lab_activity %}
                    <li class="list-group-item"><a style="color: #212529" href="{{ url_for('lab.activity_detail', activity_id=activity.id) }}">{{ activity.activity_name }}</a></li>
                {% endfor %}
            </ul>
            <ul class="list-group" style="margin-bottom: 20px;">
                <li class="list-group-item list-group-item-secondary">我的实验室任务</li>
                {% if lab_task %}
                    {% for task in lab_task %}
                        <li class="list-group-item"><a style="color: #212529" href="{{ url_for('lab.task_detail', task_id=task.id) }}">{{ task.task_name }}</a></li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">无任务</li>
                {% endif %}
            </ul>
        </div>
        <div class="col-5">

        </div>
        <div class="col-2">
            {% for project in projects %}
            <div class="card">
                <div class="card-header">{{project.project_name}}</div>
                <div class="card-body">{{project.desc}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='layer/layer.js') }}"></script>
{% endblock %}
