{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
        <p>hello {{ current_user.username }}</p>
        <button onclick=window.location.href='{{ url_for("account.profile", stu_num=current_user.stu_num) }}'>我的资料</button>
    {% elif current_user.is_anonymous %}
        <p>hello world!</p>
    {% endif %}
    {% if current_user.role == 'admin' %}
    <button onclick=window.location.href='{{ url_for("lab.member") }}'>管理实验室成员</button>
    {% endif %}
{% endblock %}
