{% extends 'base.html' %}

{% block title %}
    {{ current_user.username }} {{ config.LAB_NAME }}
{% endblock %}

{% block left_panel %}
    <ul class="nav navbar-nav" id="left_panel">
        <li class="active"><a href="#" onclick="remove_class(this, '{{ url_for('account.dashboard') }}');"><i
                class="menu-icon fa fa-tachometer"></i>Dashboard</a></li>
        <li class="menu-title">个人信息</li>
        <li><a href="#" onclick="remove_class(this, '{{ url_for('account.profile', stu_num=current_user.stu_num) }}');"><i
                class="fa fa-id-card"></i>我的资料</a>
        </li>
        <li class="menu-title">实验室</li>
        <li><a href="#" onclick="remove_class(this, '{{ url_for('lab.member') }}');"><i class="fa fa-user-circle-o"></i>人员管理</a>
        </li>
        <li><a href="#" onclick="remove_class(this, '{{ url_for('lab.monitor') }}');"><i class="menu-icon ti-user"></i>班长设置</a>
        </li>
        <li><a href="#" onclick="remove_class(this, '{{ url_for('lab.set') }}');"><i
                class="menu-icon ti-layout-grid4-alt"></i>座位管理</a></li>
        <li><a href="#" onclick="remove_class(this, '{{ url_for('lab.task') }}');"><i
                class="fa fa-suitcase"></i>事务管理</a></li>
        <li><a href="#" onclick="remove_class(this, '{{ url_for('lab.activity') }}');"><i class="fa fa-calendar"></i>活动管理</a>
        </li>
        <li><a href="#" onclick="remove_class(this, '{{ url_for('lab.verify_asset') }}');"><i class="fa fa-money"></i>资产审核</a>
        </li>
        <li><a href="#" onclick="remove_class(this, '{{ url_for('lab.teams') }}');"><i class="fa fa-group"></i>小组管理</a>
        </li>
    </ul>
{% endblock %}


{% block content %}
    <iframe id="manage_iframe" src="{{ url_for('account.dashboard') }}" frameborder="0"
            style="width:100%;min-height: 100vh;"></iframe>
{% endblock %}

{% block js %}
    <script>
        function remove_class(t, url) {
            $("#left_panel").children("li").removeClass("active");
            $(t).parent().addClass('active');
            $('#manage_iframe')[0].src = url;
        }
    </script>
{% endblock %}